@import "./_globals.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    40deg,
    $primary-color 0%,
    $secundary-color 50%,
    $third-color 100%
  );
  background-attachment: fixed;
}
.container {
  display: flex;
  flex-direction: column-reverse;
}

.main {
  background-color: rgba(white, 0.7);
  border: 2px solid white;
  width: 60%;
  max-width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;

  &_list {
    color: $secundary-color;
    list-style-type: none;
    padding: 20px;
    input {
      margin-right: 10px;
    }
  }
  &_subtitle {
    margin-top: 10px;
    margin-bottom: -5px;
    color: $primary-color;
    text-align: center;
  }
  &_title {
    color: $secundary-color;
    text-align: center;
  }

  &_container {
    color: $secundary-color;
    &--center {
      text-align: center;
      padding: 20px;
    }
  }
}

.color {
  &_true {
    color: $primary-color;
    font-weight: bold;
  }
  &_false {
    color: $text-primary-color;
    font-weight: bold;
  }
  &_number {
    color: $secundary-color;
    font-weight: bold;
    font-size: 40px;
  }
}

.button{
  border: 1px solid $primary-color;
  color: $secundary-color;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  border-radius: 4px;
  transition-duration: 0.5s;
  &:hover{
    background-color: $primary-color;
    color: white;
  }
}

#result {
  padding-top: 10px;
}
